{% extends "admin/base.html" %}

{% block content %}

      <div class="row">

          <div class="box box-info">
              <div class="box-header with-border">
                  <h3 class="box-title">Search for Title</h3>
              </div>
            <form class="form-horizontal">

              <div class="box-body">
                <div class="form-group">
                  <label for="title" class="col-sm-1 control-label">Title</label>
                  <div class="col-sm-11">
                    {{ form.title(class="form-control", placeholder="Title", required="required", autofocus="autofocus") }}
                  </div>
                </div>
              </div>

              <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right">Search</button>
              </div>

            </form>

      </div>
      <!-- /.row-->

  {% if movies %}


    {% for movie in movies %}

      {% if loop.first or loop.index0 % 4 == 0 %}
      <div class="row">
      {% endif %}
          <div class="col-md-3">
            <div class="box box-info text-center" style="padding-bottom: 10px;">
              <h4><a href="http://www.imdb.com/title/{{ movie.imdb_id }}" target="_blank">{{ movie.title }}</a> <small>({{ movie.year }})</small></h4>

              {% if movie.image %}
                  <img src="{{ movie.image }}" width="100" />
              {% endif %}
              <br /><br />
              <form method="post" action="{{ url_for('admin.submit_entry', imdb_id=movie.imdb_id) }}">
                  {{ addform.hidden_tag() }}
                  <button type="submit" class="btn btn-primary">Add</button>
              </form>

            </div>
          </div>
          <!-- /.col-md-3-->
      {% if loop.last or ((loop.index0 + 1) % 4 == 0 and not loop.first) %}
      </div>
      <!-- /.row-->
      {% endif %}

    {% endfor %}


  {% endif %}


{% endblock %}
